@{
	ViewBag.Title = "Home Page";
}

<div class="context">
	<h1 id="context_title">Каталог</h1>
	<div id="article">
		Loren ipsum.
	</div>
</div>
<template id="catalog_context">
	<div class="toolbar">
		<button type="button" class="filter-btn" onclick="toggle('div#filter');">
			<svg id="options" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
				<g>
					<path d="M34,37.2V0h-4v37.2c-4.6,0.9-8,5-8,9.8s3.4,8.9,8,9.8V64h4v-7.2c4.6-0.9,8-5,8-9.8S38.6,38.1,34,37.2z M32,53c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6S35.3,53,32,53z" />
					<path d="M62,25c0-4.8-3.4-8.9-8-9.8V0h-4v15.2c-4.6,0.9-8,5-8,9.8s3.4,8.9,8,9.8V64h4V34.8C58.6,33.9,62,29.8,62,25z M52,31c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6S55.3,31,52,31z" />
					<path d="M22,18c0-4.8-3.4-8.9-8-9.8V0h-4v8.2c-4.6,0.9-8,5-8,9.8s3.4,8.9,8,9.8V64h4V27.8C18.6,26.9,22,22.8,22,18z M12,24c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6S15.3,24,12,24z" />
				</g>
			</svg>
		</button>&nbsp;
		<select name="subjects_input" id="subjects_input" class="subjects-input"></select>&nbsp;
		<input type="search" id="search_input" name="search_input" placeholder="Поиск по каталогу" class="subjects-input">&nbsp;
		<button type="button" class="send-btn">
			<svg id="loupe" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 476.102 476.102">
				<g id="icons">
					<path d="M465.604,415.177L344.961,294.531c21.072-30.983,32.427-67.521,32.427-105.815c0-50.409-19.63-97.8-55.273-133.442C286.471,19.628,239.08,0,188.673,0C138.266,0,90.875,19.629,55.229,55.274c-73.58,73.579-73.58,193.302,0.001,266.882c35.645,35.646,83.035,55.273,133.442,55.273c38.294,0,74.833-11.355,105.816-32.427l120.645,120.645c6.968,6.969,16.102,10.454,25.236,10.454c9.134,0,18.268-3.484,25.235-10.454C479.542,451.71,479.542,429.113,465.604,415.177zM276.354,276.4c-23.42,23.42-54.561,36.319-87.683,36.319s-64.264-12.899-87.686-36.319c-48.349-48.351-48.349-127.02,0-175.369c23.422-23.421,54.563-36.32,87.686-36.32s64.263,12.899,87.684,36.32s36.32,54.562,36.32,87.685C312.675,221.839,299.776,252.978,276.354,276.4z" />
					<path d="M232.997,119.302c-7.881,7.496-8.192,19.962-0.696,27.844c12.549,13.194,19.46,30.315,19.46,48.208c0,10.877,8.817,19.695,19.694,19.695c10.878,0,19.695-8.818,19.695-19.695c0-28.043-10.764-54.805-30.309-75.354C253.345,112.118,240.88,111.806,232.997,119.302z" />
					<path d="M205.797,87.984c-9.217-2.307-18.752-3.476-28.343-3.476c-10.877,0-19.694,8.818-19.694,19.695s8.817,19.695,19.694,19.695c6.369,0,12.688,0.773,18.779,2.297c1.605,0.402,3.213,0.594,4.796,0.594c8.822,0,16.853-5.972,19.091-14.918C222.762,101.319,216.349,90.624,205.797,87.984z" />
				</g>
			</svg>
		</button>
	</div>
	<div id="filter" class="filter">
		<input type="checkbox" id="check_miniature" name="check_miniature" checked onchange="handleCheckboxClick('div.bookcover', this);">
		<label id="label_check_miniature" for="check_miniature"></label>
		<input type="checkbox" id="check_title" name="check_title" checked onchange="handleCheckboxClick('div.resultTitle', this);">
		<label id="label_check_title" for="check_title"></label>
		<input type="checkbox" id="check_author" name="check_author" checked onchange="handleCheckboxClick('div.bookauthor', this);">
		<label id="label_check_author" for="check_author"></label>
		<input type="checkbox" id="check_publisher" name="check_publisher" checked onchange="handleCheckboxClick('div.resultPublisher', this);">
		<label id="label_check_publisher" for="check_publisher"></label>
	</div>
	<div id="searchResults">
		<ul id="siteSearch"></ul>
	</div>
	<div id="paginator" class="paginator">
		<input id="current_page_hidden" type="hidden" value="1" />
		<span id="prev_page">◄</span>&nbsp;|&nbsp;<span id="current_page">1</span>&nbsp;|&nbsp;<span id="next_page">►</span>
	</div>
</template>
<template id="catalog_context_item">
	<div class="bookcover">
		<a class="img_cover" id="img_cover_<%=key%>" key="<%=key%>"><img itemprop="image" src="<%=cover_edition_key%>" height="70" alt="<%=title%>" title="<%=title%>"></a>
	</div>
	<div class="details">
		<div class="resultTitle">
			<h3 class="booktitle">
				<a class="a_title" id="a_title_<%=key%>" itemprop="name" key="<%=key%>" class="results"><%=title%></a>
			</h3>
		</div>
		<div class="bookauthor">
			<span itemprop="author" class="results"><%=author_name%></span>
		</div>
		<div class="resultPublisher">
			<%=first_publish_year%>
		</div>
	</div>
	<div class="searchResultItemCTA">
		<svg id="star" version="1.0" xmlns="http://www.w3.org/2000/svg" width="12.80000000pt" height="12.12000000pt" viewBox="0 0 1280.000000 1212.000000" x="0" y="0"><g transform="translate(0.000000,1212.000000) scale(0.100000,-0.100000)"><path class="favorite_star" onclick="setFavorite('<%=key%>', this)" id="favorite_star_<%=key%>" fill="#CCCCCC" d="M5644 9788 l-749 -2311 -2445 6 -2445 6 30 -24 c17 -13 905 -654 1975 -1424 1070 -771 1946 -1407 1948 -1414 1 -6 -337 -1047 -753 -2311 -415 -1265 -753 -2301 -751 -2303 2 -2 876 630 1942 1404 1067 775 1954 1419 1972 1431 l32 23 1971 -1431 c1084 -787 1973 -1430 1974 -1428 2 2 -337 1041 -754 2308 -694 2111 -757 2306 -742 2321 9 9 894 647 1966 1419 1073 772 1957 1409 1965 1417 13 12 -347 13 -2431 7 l-2445 -7 -57 174 c-31 96 -368 1136 -749 2311 -381 1176 -696 2138 -699 2138 -3 0 -342 -1040 -755 -2312z" /></g></svg>
	</div>
</template>
<template id="details_context">
	<div class="details-view">
		<div class="bookcover">
			<img itemprop="image" height="290" src="<%=cover_edition_key%>" alt="<%=title%>" title="<%=title%>">
		</div>
		<div class="details">
			<div class="title"><h1><%=title%></h1></div>
			<div class="author">By <%=author_name%></div>
			<p><%=first_sentence%></p>
			<p>
				<strong>ISBN:</strong> <%=isbn[0]%><br />
				<strong>OCLC:</strong> <%=oclc[0]%>
			</p>
			<p><%=publisher[0]%>: <%=first_publish_year%></p>
			<div id="tags_section" class="tags_section">
				<span class="add-tag" key="<%=key%>" onclick="addTag('<%=key%>', this);" model>+</span>
				<div id="tags_section_container"></div>
			</div>
		</div>
	</div>
</template>
<template id="my_favorites_context">
	<div class="toolbar">
		<input type="search" id="search_input" name="search_input" placeholder="Поиск по каталогу" class="subjects-input">&nbsp;
		<button type="button" class="send-btn">
			<svg id="loupe" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="12px" height="12px" viewBox="0 0 476.102 476.102">
				<g id="icons">
					<path d="M465.604,415.177L344.961,294.531c21.072-30.983,32.427-67.521,32.427-105.815c0-50.409-19.63-97.8-55.273-133.442C286.471,19.628,239.08,0,188.673,0C138.266,0,90.875,19.629,55.229,55.274c-73.58,73.579-73.58,193.302,0.001,266.882c35.645,35.646,83.035,55.273,133.442,55.273c38.294,0,74.833-11.355,105.816-32.427l120.645,120.645c6.968,6.969,16.102,10.454,25.236,10.454c9.134,0,18.268-3.484,25.235-10.454C479.542,451.71,479.542,429.113,465.604,415.177zM276.354,276.4c-23.42,23.42-54.561,36.319-87.683,36.319s-64.264-12.899-87.686-36.319c-48.349-48.351-48.349-127.02,0-175.369c23.422-23.421,54.563-36.32,87.686-36.32s64.263,12.899,87.684,36.32s36.32,54.562,36.32,87.685C312.675,221.839,299.776,252.978,276.354,276.4z" />
					<path d="M232.997,119.302c-7.881,7.496-8.192,19.962-0.696,27.844c12.549,13.194,19.46,30.315,19.46,48.208c0,10.877,8.817,19.695,19.694,19.695c10.878,0,19.695-8.818,19.695-19.695c0-28.043-10.764-54.805-30.309-75.354C253.345,112.118,240.88,111.806,232.997,119.302z" />
					<path d="M205.797,87.984c-9.217-2.307-18.752-3.476-28.343-3.476c-10.877,0-19.694,8.818-19.694,19.695s8.817,19.695,19.694,19.695c6.369,0,12.688,0.773,18.779,2.297c1.605,0.402,3.213,0.594,4.796,0.594c8.822,0,16.853-5.972,19.091-14.918C222.762,101.319,216.349,90.624,205.797,87.984z" />
				</g>
			</svg>
		</button>
	</div>
	<div id="searchResults">
		<ul id="siteSearch"></ul>
	</div>
</template>
<template id="tag_tmp">
	<span class="tag"><%=key%>&nbsp;<span value="<%=value%>" onclick="deleteTag('<%=key%>', this);"><svg x="0" y="0" height="11px" width="11px" style="enable-background:new 0 0 132 131;" version="1.1" viewBox="0 0 132 131" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="115,92.8 89.2,118.6 61.5,90.8 33.7,118.6 7.9,92.8 35.7,65 7.9,37.4 33.8,11.4 61.5,39.1 89.1,11.4 115,37.4   87.2,65 115,92.8 115,92.8 " /></svg></span></span>
</template>
